<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carmech">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashBoard"
            android:theme="@style/AppTheme"/>
        <activity android:name=".AboutUsAct"/>
        <activity android:name=".FindNearestAct"/>
        <activity android:name=".LoginUser"/>
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".MyWheelsAct"/>
        <activity android:name=".UserSelection"/>
        <service android:name=".LocService"
            android:enabled="true"/>
        <activity android:name=".RepairYourself"/>
        <activity android:name=".TyreAct"/>
        <activity android:name=".BatteryAct"/>
        <activity android:name=".EmergencyAct"/>
    </application>

</manifest>